<!DOCTYPE html>
<html lang="en">
 
    <%- include("../partials/head.ejs") %>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="login-form bg-light p-4">
            <form
              action="/api/admin/forgetPassword"
              method="POST"
              class="row g-3"
            >
              <h4>Enter email to send token</h4>
              <% if(typeof alert != 'undefined') { %> <%
                alert.forEach(function(error) { %>
                <div
                  class="alert alert-warning alert-dismissible fade show"
                  role="alert"
                  style="font-size: 12px; padding: 5px 5px 5px 5px"
                >
                  <%= error.msg %>
                </div>
                <% }) %> <% } %>
              <div class="col-12">
                <label>Email</label>
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  placeholder="Email"
                />
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary float-end">
                  Send
                </button>
              </div>
            </div> 
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <%- include("../partials/jscript.ejs") %>
  </body>
</html>
