<!DOCTYPE html>
<html lang="en">
 
    <%- include("../partials/head.ejs") %>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="login-form bg-light p-4" style="margin-top: 5rem">
            <form action="/api/admin/register" method="POST" class="row g-3">

              <h4>Register</h4>
              <% if(typeof alert != 'undefined') { %>
                <% alert.forEach(function(error) { %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="font-size:12px;padding:5px 5px 5px 5px">
                        <%= error.msg %>
                   </div>
                <% }) %>
            <% } %>
            
              <div class="col-12">
                <label>Name</label>
                <input
                  type="text"
                  name="fullName"
                  class="form-control"
                  placeholder="Name"
                />
              </div>
              <div class="col-12">
                <label>Email</label>
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  placeholder="Email"
                />
              </div>
              <div class="col-12">
                <label>Password</label>
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  placeholder="Password"
                />
              </div>
              <div class="col-12">
                <label>Username</label>
                <input
                  type="text"
                  name="username"
                  class="form-control"
                  placeholder="Username"
                />
              </div>
              <div class="col-12">
                <label>Phone</label>
                <input
                  type="text"
                  name="phone"
                  class="form-control"
                  placeholder="Phone"
                />
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary float-end">
                  Register
                </button>
              </div>
            </div> 
            </form>
            <hr class="mt-4" />
            <div class="col-12">
              <p class="text-center mb-0">
               Already Have An Acoount? <a href="/api/admin/login">Login</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <%- include("../partials/jscript.ejs") %> 
  </body>
</html>
