<!DOCTYPE html>
<html lang="en">
  
    <%- include("../partials/head.ejs") %>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="login-form bg-light p-4">
            <form
              action="/api/admin/resetPassword"
              method="POST"
              class="row g-3"
            >
              <h4>Enter token and new password</h4>
              <div class="col-12">
                <label>Token</label>
                <input
                  type="text"
                  name="token"
                  class="form-control"
                  placeholder="Token"
                />
              </div>
              <div class="col-12">
                <label>New Password</label>
                <input
                  type="text"
                  name="newPassword"
                  class="form-control"
                  placeholder="Token"
                />
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary float-end">
                  Submit
                </button>
              </div>
            </div> 
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <%- include("../partials/jscript.ejs") %>
  </body>
</html>
